<%= form_for(:session, url: login_path) do |f| %>
  <p>
    <%= f.label :username %></br>
    <%= f.text_field :username, class: 'form-control' %>
  </p>
  <p>
    <%= f.label :password %></br>
    <%= f.text_field :password, class: 'form-control' %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
