<%= form_for(:session, url: login_path) do |f| %>
  <div class="modal fade" id="login-modal" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
          <h4 class="modal-title" id="login-modal-label">Please Log In</h4>
        </div>

        <div class="modal-body">
            <p>
              <%= f.label :username %></br>
              <%= f.text_field :username, class: 'form-control' %>
            </p>
            <p>
              <%= f.label :password %></br>
              <%= f.text_field :password, class: 'form-control' %>
            </p>
        </div>

        <div class="modal-footer">
          <p>
            <%= f.submit "Log In", class: "btn btn-default" %>
          </p>
        </div>

      </div>
    </div>
  </div>
<% end %>
