<%= form_for(@user) do |f| %>
  <div class="modal fade" id="signup-modal" tabindex="-1" role="dialog" aria-labelledby="signup-modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">

        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        </div>

        <div class="modal-body">
          <p>
            <%= f.text_field :username, :placeholder => "your desired user name", class: 'form-control modal-text-box', id: 'login-username'  %>
          </p>
          <p>
            <%= f.text_field :name, :placeholder => "What should we call you?", class: 'form-control modal-text-box', id: 'screen-name'  %>          </p>
          <p>
            <%= f.text_field :password, :placeholder => "your desired password", class: 'form-control modal-text-box', id: 'login-password' %>
          </p>
          <p>
            <%= f.text_field :password_confirmation, :placeholder => "confirm your password", class: 'form-control modal-text-box', id: 'login-password' %>
          </p>
          <p>
            <%= f.text_field :email, :placeholder => "your email", class: 'form-control modal-text-box', id: 'user-email' %>

          </p>
          <p>
            <%= f.hidden_field :role, :value => 'user' %>
          </p>
        </div>

        <div class="modal-footer">
          <p>
            <%= f.submit "Set me up!", class: "btn btn-default" %>
          </p>
          </p>
        </div>

      </div>
    </div>
  </div>
<% end %>
