<ol class="question">
  <% page.questions.each do |question| %>
    <li class="question-text"><%= question.title %>
      &nbsp;<a href="#"><span class="info fa fa-info-circle fa-lg"></span></a>
    </li> 

    <% if (question.format == 'list') %>
      <%= render partial: 'pages/answer_list', locals: {book: page.book, page: page, question: question} %>

      <%= form_for question.answers.new, url: book_page_question_answers_path(book_id: page.book.id, page_id: page.id, question_id: question.id) do |f| %>
        <%= f.text_field :value, class: "form-control list-answer" %>
        <%= render partial: 'list_icons' %>
        <%= f.submit "save" %>
      <% end %>

    <% elsif question.format == 'essay' %>
      <% if question.answers.empty? %>
        <%= form_for question.answers.new, url: book_page_question_answers_path(book_id: page.book.id, page_id: page.id, question_id: question.id) do |f| %>
          <%= f.text_area :value, class: "form-control multi-line-answer" %>
          <%= button_tag(type: "submit", "data-toggle" => "tooltip", "data-placement" => "top", "data-trigger" => "hover focus manual", title: "save", class: "save-button") do %>
        <span class="fa fa-check-circle-o fa-2x" </span>
      <% end %>

        <% end %>
      <% else %>
        <%= render partial: 'pages/answer_single', locals: {book: page.book, page: page, question: question} %>
      <% end %>

    <% else %>
      <% if question.answers.empty? %>
        <%= form_for question.answers.new, url: book_page_question_answers_path(book_id: page.book.id, page_id: page.id, question_id: question.id) do |f| %>
          <%= f.text_field :value, class: "form-control single-line-answer" %>
          <%= button_tag(type: "submit", "data-toggle" => "tooltip", "data-placement" => "top", "data-trigger" => "hover focus manual", title: "save", class: "save-button") do %>
        <span class="fa fa-check-circle-o fa-2x" </span>
      <% end %>

        <% end %>

      <% else %>
        <%= render partial: 'pages/answer_single', locals: {book: page.book, page: page, question: question} %>
      <% end %>

      <% if question.answers.empty? %>
        <%= link_to "add_answer", new_book_page_question_answer_path(page_id: page.id, question_id: question.id) %>
      <% end %>
    <% end %>
  <% end %>
</ol>
