<script>
  //$('#slider-value').html("hello2");
  $("#read-more").click(function(){
    alert('read more');
  });

  $("#read-less").click(function(){
    alert('read less');
  });

  $('.slider').slider({
    min: -3,
    max: 3,
    step: 1,
    change: function( event, ui ) {
      //slider_text = get_slider_text(ui.value);
      //$('#slider-value').html(slider_text);
    }
  });
</script>

<div class="exercise-content">
  <h1 class="exercise-title"> 
    <span class="exercise-number">N <span class="super-script">o</span>
      <%= @page.number %> 
      <span class="guillemet">&raquo; </span>
    </span>
    <%= @page.title %>
  </h1>

  <div class="exercise-description-truncated">
    <p class="exercise-description"><%= truncate(@page.description, length: 300, separator: " ", escape: false) %>
    <span class="read-more">read more</span></p>
  </div>

  <div class="exercise-description-full">
    <p class="exercise-description"><%= raw @page.description %>
    <span class="read-less">read less</span></p>
  </div>

</div>
  <%= render partial: 'pages/question_list', locals: {page: @page} %>
  <%= render partial: 'pages/slider_question_list', locals: {page: @page} %>

<script>
  $(".read-more").click(function(){
    $(".exercise-description-truncated").hide();
    $(".exercise-description-full").show();
  });

  $(".read-less").click(function(){
    $(".exercise-description-full").hide();
    $(".exercise-description-truncated").show();
  });
</script>

