<script>
  //$('#slider-value').html("hello2");

  $('.slider').slider({
    min: -3,
    max: 3,
    step: 1,
    change: function( event, ui ) {
      //slider_text = get_slider_text(ui.value);
      //$('#slider-value').html(slider_text);
    }
  });
</script>

<div class="exercise-content">
  <h1 class="exercise-title"> 
    <span class="exercise-number">N <span class="super-script">o</span>
      <%= @page.number %> 
      <span class="guillemet">&raquo; </span>
    </span>
    <%= @page.title %>
  </h1>

  <p class="exercise-description"><%= truncate(@page.description, length: 300, separator: " ") %>
  <a href="#" class="read-more">read more</a></p>

</div>
  <%= render partial: 'pages/question_list', locals: {page: @page} %>
  <%= render partial: 'pages/slider_question_list', locals: {page: @page} %>
