<h1>Editing Book <%= @book.title %></h1>


<%= form_for(@book) do |f| %>
  <p>
    <%= f.label :title %><br/>
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :thumbnail %><br/>
    <%= f.text_field :thumbnail %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.label :price %><br/>
    <%= f.text_field :price %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
