
<div class="container-fluid">

  
  <div class="col-md-4 description-page-picture-column">
    <div class="description-page-picture img-responsive">
    <%= image_tag(@book.cover_image) %>
  </div><!-- end desc. page picture -->
  </div>
  
  <div class="col-md-7 product-long-description">
    <h1 class="description-page"><%= @book.title %></h1>
    <p><%= @book.description.html_safe %></p>
    
    <% if logged_in? %>
      <%= link_to "buy me", add_to_cart_path(@book), class: "btn btn-default", type: "button" %>
    <% end %>

    
    <!--<h3>Price: <%= @book.price %></h3>-->
  </div>
  
  <div class="col-md-1"></div>
  
  

</div><!-- end container -->



<% if admin_user? %>
  <p><%= link_to "add a page to this book", new_book_page_path(@book) %></p>
  <p><%= link_to "edit this book", edit_book_path %></p>
  <p><%= link_to "back to book list", books_path %></p>
<% end %>
